*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  color: #7100A6;
}

header{
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-around;
}

header .bx-menu{
  display: none;
}

header .logo{
  font-size: 40px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

header nav ul{
  list-style: none;
  display: flex;
}

header nav ul li .bx{
  display: none;
}

header nav hr{
  display: none;
}

header .redes-sociais{
  display: none;
}

header nav h1{
  display: none;
}

header nav .bx{
  display: none;
}

header nav ul li a{
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  text-decoration: none;
  color: #7100A6;
}

.ldp{
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
}

.ldp img{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 65%;
}

.ldp .texto-landing{
  position: absolute;
  top: 10%;
}

.ldp h1{
  width: 40%;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
}

.ldp p{
  width: 35%;
  margin-left: 20px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
}

.ldp button{
  padding: 5px;
  background: #fff;
  border: 0;
  border: 1px solid #7100A6;
  border-radius: 5px;
  color: #7100A6;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
}

.ldp .redes-sociais{
  font-size: 30px;
  position: absolute;
  left: 20%;
  bottom: 20px;
}

.project-and-book{
  width: 100%;
  padding: 20px;
  margin-top: 100px;
}

.project-and-book .project{
  margin-top: 50px;
}

.project-and-book .project h1{
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}

.project-and-book .project p{
  margin-top: 10px;
  width: 90%;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.project-and-book .project button{
   padding: 5px;
  background: #fff;
  border: 0;
  border: 1px solid #7100A680;
  border-radius: 5px;
  color: #7100A6;
  cursor: pointer;
  margin-left: 0px;
  margin-top: 10px;
}

.project-and-book .book{
  margin-top: 60px;
  text-align: right;
  width: 90%;
  position: absolute;
  right: 0px;
}

.project-and-book .book h1{
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  margin-right: 20px;
}

.project-and-book .book p{
  font-size: 18px;
  margin-right: 20px;
  font-family: 'Open Sans', sans-serif;
}

.project-and-book .book button{
   padding: 5px;
  background: #fff;
  border: 0;
  border: 1px solid #7100A680;
  border-radius: 5px;
  color: #7100A6;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 100px;
}

.perguntas{
  width: 90%;
  margin-left: 5%;
  text-align: center;
  margin-top: 400px;
  color: #7100A6;
  font-family: 'Open Sans', sans-serif;
}

.perguntas h1{
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  margin-bottom: 50px;
}

.perguntas .perguntas-content{
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.perguntas .perguntas-content .content{
  width: 380px;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 1em #ddd;
  margin-bottom: 30px;
  margin-right: 30px;
  text-align: start;
  position: relative;
}

.perguntas .perguntas-content .content img{
  position: absolute;
  top: 10px;
  right: 10px;
}

.perguntas .perguntas-content .content h2{
  font-size: 30px;
  margin-left: 5px;
}

.perguntas .perguntas-content .content p{
  font-size: 18px;
}

@media (max-width: 750px) {
  .perguntas .perguntas-content .content{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 1em #eee;
    margin-bottom: 30px;
    margin-right: 0px;
  }

  header{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-around;
  }
  
  header .bx-menu{
    display: block;
    font-size: 35px;
    color: #7100A6;
    cursor: pointer;
    position: absolute;
    left: 20px;
  }
  
  header .logo{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
  }

  header nav{
    position: absolute;
    top: 0px;
    left: -100%;
    width: 90%;
    height: 100vh;
    background: #fff;
    box-shadow: 0 0 1.5em #eee;
    transition: 0.5s;
    max-width: 350px;
    z-index: 999;
  }

  header nav .bx-x{
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
  }

  header nav h1{
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
    font-family: 'Dongle', sans-serif;
    display: block;
  }

  header nav hr{
    border-bottom: 1px solid #7100A6;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
    display: block;
  }
  
  header nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  
  header nav ul li{
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    width: 80%;
    padding: 0 10px;
  }

  header nav ul .i-text{
    background: #7100A6;
    border-radius: 10px;
    color: #fff;
  }

  header nav ul .i-text a{
    color: #fff;
  }

  header nav .hr-bottom{
    border-bottom: 1px solid #7100A6;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
  }

  header nav ul li .bx{
    display: block;
  }
  
  header nav ul li a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    padding: 10px;
  }

  .ldp{
    width: 100%;
    position: relative;
  }

  .ldp img{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 65%;
    display: none;
  }

  .ldp .texto-landing{
    position: absolute;
    top: 10%;
  }

  .ldp h1{
    width: 95%;
    margin-left: 20px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
  }

  .ldp p{
    width: 90%;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
  }

  .ldp button{
    padding: 5px;
    background: #fff;
    border: 0;
    border: 1px solid #7100A6;
    border-radius: 5px;
    color: #7100A6;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
  }

  .ldp .redes-sociais{
    font-size: 30px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: 20px;
    cursor: pointer;
  }

  .project-and-book{
    width: 100%;
    padding: 20px;
    margin-top: 100px;
  }
  
  .project-and-book .project{
    margin-top: 50px;
  }
  
  .project-and-book .project h1{
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  }
  
  .project-and-book .project p{
    margin-top: 10px;
    width: 95%;
    font-size: 16px;
  }
  
  .project-and-book .project button{
     padding: 5px;
    background: #fff;
    border: 0;
    border: 1px solid #7100A680;
    border-radius: 5px;
    color: #7100A6;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 10px;
  }
  
  .project-and-book .book{
    margin-top: 60px;
    text-align: right;
    width: 95%;
    position: absolute;
    right: 0px;
  }
  
  .project-and-book .book h1{
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-right: 20px;
  }
  
  .project-and-book .book p{
    font-size: 16px;
    margin-right: 20px;
  }
  
  .project-and-book .book button{
     padding: 5px;
    background: #fff;
    border: 0;
    border: 1px solid #7100A680;
    border-radius: 5px;
    color: #7100A6;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 100px;
  }
} 